/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/


body {
    background-color:#D4A76A;
}

header {
    background-color:#FFDBAA;
    color:#553100;
}

button {
    background-color:#805215;
    color:white;
}

section {
  background-color:#FFDBAA;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}


.nav-list {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item a {
    display: block;
    padding: 10px;
    background-color: #805215; 
    color: white; 
    text-decoration: none;
    margin-right: 10px;
  }
  
  .nav-item a:hover {
    background-color: #553100; 
  }
  
  footer {
    display: flex;
    background-color:#FFDBAA;
    justify-content: space-around;
    text-align: center;
}